.parent-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: white;
}

header {
  padding: 0;  
  
}

.navbar {
  background-color: transparent; /* Make the navbar transparent */
  position: fixed;
  top: 14px;
  left: 0;
  right: 0;
}

.header-img {
  background-image: url('../images/Poster.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  flex-grow: 1; /* Make the background image take up the remaining space */
  min-height: 200px; /* Set a minimum height for the background image */
}


.sign-in{
  color: white;
  text-decoration: none;
}


.transparent-input {
  background: url('../images/Poster.svg') no-repeat center center fixed;
  background-size: cover;
  border: 1px solid white;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  padding: 10px 0;
  border-radius: 20px;
}


.transparent-input::placeholder{
  color: white;
  padding-left: 30px;
}

.John-Wick{
  position: absolute;
  top: 40%;
  left: 8%;
  width: 25%;
  height: 40%;
  line-height: 1.6rem;
}

.header-btn{
  background-color: #BE123C;
  border: 1px solid #BE123C;
  border-radius: 12px;
  color: white;
}

.search-icon{
  position: absolute;
  left: 74%;
}

.movie-container{
  color: black;
}


.footer{
  width: 50%;
  margin: 10% auto;
}


.movie-con{
  width: 97%;
  margin: auto;
}

.movie-img{
  margin: 10px;
  width: 100%;

}

.movie-details{
 
}
.sidebar{
  height: 760px;
  width: 200px;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 0 20px 20px 0;
  background-color: #FFFFFF;
}

.about-movie{
  width: 60%;
  text-align: start;
}

.other-options{
  width: 35%;
  text-align: right;
}

ul{
  list-style: none;

}

ul a{
  text-decoration: none;
  color: black;
}

.movie-logo{
  width: 10em;
}

.sidebar-bottom{
    width: 90%;
    border: 1px solid #BE123C33;
}

.sidebar-btn{
  background: #BE123C33;
  border: 1px solid #BE123C33;
  border-radius: 20px;

}

.movie-rate{
  background: #BE123C;
}

.movie-directors{
  color: #BE123C;
}

.other-options-btn1{
  background-color: #BE123C;
  color: #fff;
  padding: 3px 84px ;
}
.other-options-btn2{
  background: #e7afbf;
  padding: 0 70px ;
}

.rectan{
  width: 95%;
  margin: 0 auto;
}

.best{
  position: relative;
  top: -25px;
  left: 18px;
  font-size: 0.9rem;
  background: #12121280;
  color: #E8E8E8;
  box-shadow: 0px 1px 2px 0px #00000040;
  width: 323px;
}

.action, .drama{
  color: #B91C1C;
}